anyio
autopep8
bcrypt
certifi
charset-normalizer
click
colorama
dnspython
email-validator
fastapi
h11
httptools
idna
Jinja2
MarkupSafe
mysql-connector-python
passlib
protobuf
pycodestyle
pydantic
PyJWT
pymongo
python-dotenv
python-multipart
PyYAML
requests
six
sniffio
starlette
typing_extensions
urllib3
uvicorn
watchfiles
websockets
