@import url("https://fonts.googleapis.com/css?family=Lato|Bebas+Neue|Oswald|Raleway|Roboto|Indie+Flower|Gamja+Flower");
:root {
  --transitionHover: 0.8s;
}
/* svg total */

svg {
  width: 95%;
  height: 95%;
}

/* hover svg */
#Group2 {
  opacity: 0;
  transition: var(--transitionHover);
}
#inverter:hover + #Group2 {
  opacity: 1;
  transition: var(--transitionHover);
}

#Group4 {
  opacity: 0;
  transition: var(--transitionHover);
}
#casa:hover + #Group4 {
  opacity: 1;
  transition: var(--transitionHover);
}

#Group5 {
  opacity: 0;
  transition: var(--transitionHover);
}
#pv:hover + #Group5 {
  opacity: 1;
  transition: var(--transitionHover);
}
#Group6 {
  opacity: 0;
  transition: var(--transitionHover);
}
#grid:hover + #Group6 {
  opacity: 1;
  transition: var(--transitionHover);
}
#Group3 {
  opacity: 0;
  transition: var(--transitionHover);
}
#battery:hover + #Group3 {
  opacity: 1;
  transition: var(--transitionHover);
}

/* battery percentage  */
.barhiding {
  opacity: 0;
  transition: var(--transitionHover);
}
/* movemoent pv to inverter */
.pv2inverter {
  opacity: 0;
  animation: pvMove 5s linear infinite;
}
.pv2inverter + circle {
  opacity: 0;
  animation: pvMove 5s linear infinite;
  animation-delay: 2.5s;
}

@keyframes pvMove {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  50% {
    transform: translate(0, 101px);
    opacity: 1;
  }

  100% {
    transform: translate(77px, 101px);
    opacity: 0.3;
  }
}
/* movement grid to inverter */
.grid2inverter {
  opacity: 0;
  animation: gridMove 5s linear infinite;
}
.grid2inverter + circle {
  opacity: 0;
  animation: gridMove 5s linear infinite;
  animation-delay: 2.5s;
}
@keyframes gridMove {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  75% {
    transform: translate(80px, 0);
    opacity: 1;
  }
  100% {
    transform: translate(115px, 0px);
    opacity: 0.3;
  }
}

/* movement sending battery to inverter */
.battery2inverter {
  opacity: 0;
  animation: batteryMove 5s linear infinite;
}
.battery2inverter + circle {
  opacity: 0;
  animation: batteryMove 5s linear infinite;
  animation-delay: 2.5s;
}
@keyframes batteryMove {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(0, -93px);
    opacity: 1;
  }
  100% {
    transform: translate(72px, -93px);
    opacity: 0.3;
  }
}
/* movement receive battery to inverter */
.battery2inverterRev {
  opacity: 0;
  animation: batteryMoveRev 5s linear infinite;
}
.battery2inverterRev + circle {
  opacity: 0;
  animation: batteryMoveRev 5s linear infinite;
  animation-delay: 2.5s;
}
@keyframes batteryMoveRev {
  0% {
    transform: translate(72px, -93px);
    opacity: 1;
  }
  50% {
    transform: translate(0, -93px);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.3;
  }
}
.inverter2load {
  opacity: 0;
  animation: loadMove 2s linear infinite;
}
@keyframes loadMove {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(25px, 0);
    opacity: 1;
  }
  100% {
    transform: translate(50px, 0);
    opacity: 0.3;
  }
}
