{% include 'head.html' %}
{% include 'spinner.html' %}
{% include 'sidebar.html' %}

<!-- Content Start -->
<div class="content">
    {% include 'navbar.html' %}
    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <form id="formulario" action="/get_registers" method="post">

                <div class="border border-light padding rounded p-2 mb-2">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6 class="mb-0">Registers</h6>
                        <!-- <a href="">Show All</a> -->
                    </div>
                    <div class="d-flex flex-wrap mb-2">
                        {% for key, value in data.items() -%}
                        <div class="d-flex p-2 align-items-center flex-wrap">
                            <div class="align-items-center p-1">{{key}}</div>
                            <select class="selectpicker align-middle mb-0 form-control" name={{key+'[]'}} id="lang"
                                multiple form="formulario">
                                {%- for k, v in value.items() %}
                                <option value={{v|replace(" ","")}} name={{v}} class=" form-control" form="formulario">
                                    {{v}}
                                </option>
                                {% endfor -%}
                            </select>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="border border-light padding rounded p-2 mb-2">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6 class="mb-0">Dates</h6>
                        <!-- <a href="">Show All</a> -->
                    </div>
                    <div class="d-flex flex-wrap mb-2">
                        <div class="d-flex p-2 align-items-center flex-wrap">
                            <div class="align-items-center p-1">Initial date</div><input class="date form-control"
                                type="date" name="initialdate">
                        </div>
                        <br>
                        <div class="d-flex p-2 align-items-center flex-wrap">
                            <div class="align-items-center p-1">Final date</div>
                            <input class="date form-control" name="finaldate" type="date">
                        </div>
                        <div class="d-flex p-2 align-items-center flex-wrap">
                            <div class="align-items-center p-1">Frequency</div>
                            <input class="time form-control" name="frequency" placeholder='2' type="time">
                        </div>
                    </div>
                </div>
                <div class="border border-light padding rounded p-2 mb-2">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6 class="mb-0">Places</h6>
                        <!-- <a href="">Show All</a> -->
                    </div>
                    <div class="d-flex flex-wrap mb-2">
                        <div class="d-flex p-2 align-items-center flex-wrap">
                            <div class="align-items-center p-1"> State</div>
                            <select
                                class="selectpicker text-start align-middle table-bordered table-hover mb-0 form-control"
                                name="state[]" id="selectstates" form="formulario" multiple>
                                {%- for e in states %}
                                <option value={{e|replace(" ","")}} name={{e}} class=" form-control" form="formulario">
                                    {{e}}
                                </option>
                                {% endfor -%}
                            </select>
                        </div>
                        <div class="d-flex p-2 flex-column flex-wrap">
                            <div class="align-items-center p-1"> City</div>
                            <select
                                class="selectpicker text-start align-middle table-bordered table-hover mb-0 form-control"
                                name="city[]" id="selectcities" form="formulario" multiple>
                                {%- for e in cities %}
                                <option value={{e|replace(" ","")}} name={{e}} class=" form-control" form="formulario">
                                    {{e}}
                                </option>
                                {% endfor -%}
                            </select>
                        </div>
                        <div class="d-flex p-2 align-items-center flex-wrap">
                            <div class="align-items-center p-1"> Client</div>
                            <select
                                class="selectpicker text-start align-middle table-bordered table-hover mb-0 form-control"
                                name="clients[]" id="selectclients" form="formulario" multiple>
                                {%- for e in clients %}
                                <option value={{e|replace(" ","")}} name={{e}} class=" form-control" form="formulario">
                                    {{e}}
                                </option>
                                {% endfor -%}
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" id="envio">Download history </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Recent Sales End -->
    {% include 'select.html' %}
    {% include 'footer.html' %}