{% include 'head.html' %}
{% include 'spinner.html' %}
{% include 'sidebar.html' %}

<!-- Content Start -->
<div class="content">

    {% include 'navbar.html' %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/scada.css') }}">
    <!-- ----------------------------- -->

    <div class="container-fluid pt-4 px-4">
        <div class="grilla-visual">
            <div class="grilla-item1 grilla" id="botoncito">
                <a href="#slide1">
                    <div class="bg-secondary rounded h-33 p-2 llenado" onclick="mostrarModalGrid('#slide1')">
                        <div class="row">
                            <div class="col">
                                <img src="{{ url_for('static', path='img/gridLogo2.png') }}" class="img-scada"
                                    alt="Grid icon">
                            </div>
                            <div class="col">
                                <h6 class="mb-4">Grid</h6>
                            </div>
                        </div>
                        <div class="numbersUpdate">
                            <h3 class="text-center text-primary" id="TotalpowerofgridsideL1-L2">-</h3>
                            <h3 class="text-center text-primary">
                                <span> W</span>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="online">
                <h7>Last update:</h7>
                <h7 id="onlineData">2022-01-05-10:33</h7>
            </div>
            <div class="anim1"></div>
            <div class="grilla-item2 grilla" id="myBtn">
                <a href="#slide2">
                    <div class="bg-secondary rounded h-33 p-2 llenado" onclick="mostrarModalGrid('#slide2');">
                        <div class="row">
                            <div class="col">
                                <img src="{{ url_for('static', path='img/pv.png') }}" class="img-scada" alt="pv icon">
                            </div>
                            <div class="col">
                                <h6 class="mb-4">PV</h6>
                            </div>
                        </div>
                        <div class="numbersUpdate">
                            <h3 class="text-center text-primary" id="PV1inputpower">-</h3>
                            <h3 class="text-center text-primary">
                                <span> W</span>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="anim2"></div>
            <div class="grilla-item3 grilla">
                <a href='#slide3'>
                    <div class="bg-secondary rounded h-33 p-2 llenado" onclick="mostrarModalGrid('#slide3');">
                        <div class="row">
                            <div class="col">
                                <img src="{{ url_for('static', path='img/inverter.png') }}" class="img-scada"
                                    alt="Inverter icon">
                            </div>
                            <div class="col">
                                <h6 class="mb-4">Inverter</h6>
                            </div>
                        </div>
                        <div class="numbersUpdate">
                            <h3 class="text-center text-primary" id="InverteroutputTotalpower">-</h3>
                            <h3 class="text-center text-primary">
                                <span> W</span>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="anim3"></div>
            <div class="anim4"></div>
            <div class="grilla-item4 grilla">
                <a href='#slide4'>
                    <div class="bg-secondary rounded h-33 p-2 llenado" onclick="mostrarModalGrid('#slide4');">
                        <div class="row">
                            <div class="col">
                                <img src="{{ url_for('static', path='img/battery.png') }}" class="img-scada"
                                    alt="Battery icon">
                            </div>
                            <div class="col">
                                <h6 class="mb-4">Battery</h6>
                            </div>
                        </div>
                        <div class="numbersUpdate">
                            <h3 class="mb-1 text-center text-primary" id="Batteryoutputpower">-</h3>
                            <h3 class="mb-1 text-center text-primary">
                                <span> W</span>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grilla-item5 grilla">
                <a href='#slide5'>
                    <div class="bg-secondary rounded h-33 p-2 llenado" onclick="mostrarModalGrid('#slide5');">
                        <h6 class="mb-4">Smart panel</h6>
                    </div>
                </a>
            </div>
            <div class="anim5"></div>
            <div class="grilla-item6 grilla">
                <a href='#slide6'>
                    <div class="bg-secondary rounded h-33 p-2 llenado" onclick="mostrarModalGrid('#slide6');">
                        <h6 class="mb-4">Load</h6>
                        <div class="numbersUpdate">
                            <h3 class="text-center text-primary" id="LoadsideTotalpower">-</h3>
                            <h3 class="text-center text-primary">
                                <span> W</span>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container-modal">
            <div class="bg-secondary content-modal">
                <div class="bg-secondary container">
                    <ul class="slider">
                        <li class="bg-secondary" id="slide1">
                            <h1>Grid</h1>
                            <div class="numbersUpdate row">
                                <div class="numero">
                                    <h6>Total Power:&nbsp;</h6>
                                    <h6 id="TotalpowerofgridsideL1-L2">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Voltage L1-N:&nbsp;</h6>
                                    <h6 id="GridsidevoltageL1-N">-</h6>
                                    <h6>
                                        <span>&nbsp;V</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Voltage L2-N:&nbsp;</h6>
                                    <h6 id="GridsidevoltageL2-N">-</h6>
                                    <h6>
                                        <span>&nbsp;V</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Voltage L1-L2:&nbsp;</h6>
                                    <h6 id="GridsidevoltageL1-L2">-</h6>
                                    <h6>
                                        <span>&nbsp;V</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Current L1:&nbsp;</h6>
                                    <h6 id="GridsidecurrentL1">-</h6>
                                    <h6>
                                        <span>&nbsp;A</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Current L2:&nbsp;</h6>
                                    <h6 id="GridsidecurrentL2">-</h6>
                                    <h6>
                                        <span>&nbsp;A</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Power L1:&nbsp;</h6>
                                    <h6 id="GridsideL1power">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Power L2:&nbsp;</h6>
                                    <h6 id="GridsideL2power">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                        </li>
                        <li class="bg-secondary" id="slide2">
                            <h1>Pv</h1>
                            <div class="numbersUpdate row">
                                <div class="numero">
                                    <h6>Power PV1:&nbsp;</h6>
                                    <h6 id="PV1inputpower">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Power PV2:&nbsp;</h6>
                                    <h6 id="PV2inputpower">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                            </div>
                        </li>
                        <li class="bg-secondary" id="slide3">
                            <h1>Inverter</h1>
                            <div class="numbersUpdate row">
                                <div class="numero">
                                    <h6>Total Power:&nbsp;</h6>
                                    <h6 id="InverteroutputTotalpower">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Voltage L1-N:&nbsp;</h6>
                                    <h6 id="InverteroutputvoltageL1-N">-</h6>
                                    <h6>
                                        <span>&nbsp;V</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Voltage L2-N:&nbsp;</h6>
                                    <h6 id="InverteroutputvoltageL2-N">-</h6>
                                    <h6>
                                        <span>&nbsp;V</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Voltage L1-L2:&nbsp;</h6>
                                    <h6 id="InverteroutputvoltageL1-L2">-</h6>
                                    <h6>
                                        <span>&nbsp;V</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Current L1:&nbsp;</h6>
                                    <h6 id="InverteroutputcurrentL1">-</h6>
                                    <h6>
                                        <span>&nbsp;A</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Current L2:&nbsp;</h6>
                                    <h6 id="InverteroutputcurrentL2">-</h6>
                                    <h6>
                                        <span>&nbsp;A</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Power L1:&nbsp;</h6>
                                    <h6 id="InverteroutputsL1power">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Power L2:&nbsp;</h6>
                                    <h6 id="InverteroutputsL2power">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Frequency:&nbsp;</h6>
                                    <h6 id="Inverteroutputfrequency">-</h6>
                                    <h6>
                                        <span>&nbsp;Hz</span>
                                    </h6>
                                </div>
                        </li>
                        <li class="bg-secondary" id="slide4">
                            <h1>Battery</h1>
                            <div class="numbersUpdate row">
                                <div class="numero">
                                    <h6>Power:&nbsp;</h6>
                                    <h6 id="Batteryoutputpower">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>SOC:&nbsp;</h6>
                                    <h6 id="BatterycapacitySOC">-</h6>
                                    <h6>
                                        <span>&nbsp;%</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Temperature:&nbsp;</h6>
                                    <h6 id="Batterytemperature">-</h6>
                                    <h6>
                                        <span>&nbsp;°F</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Voltage:&nbsp;</h6>
                                    <h6 id="Batteryvoltage">-</h6>
                                    <h6>
                                        <span>&nbsp;V</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Current:&nbsp;</h6>
                                    <h6 id="Batteryoutputcurrent">-</h6>
                                    <h6>
                                        <span>&nbsp;A</span>
                                    </h6>
                                </div>
                            </div>
                        </li>
                        <li class="bg-secondary" id="slide5">
                            <h1>Smart panel</h1>
                        </li>
                        <li class="bg-secondary" id="slide6">
                            <h1>Load</h1>
                            <div class="numbersUpdate row">
                                <div class="numero">
                                    <h6>Total Power:&nbsp;</h6>
                                    <h6 id="LoadsideTotalpower">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Power L1:&nbsp;</h6>
                                    <h6 id="LoadsideL1power">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Power L2:&nbsp;</h6>
                                    <h6 id="LoadsideL2power">-</h6>
                                    <h6>
                                        <span>&nbsp;W</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Current L1:&nbsp;</h6>
                                    <h6 id="LoadcurrentL1">-</h6>
                                    <h6>
                                        <span>&nbsp;A</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Current L2:&nbsp;</h6>
                                    <h6 id="LoadcurrentL2">-</h6>
                                    <h6>
                                        <span>&nbsp;A</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Current L1:&nbsp;</h6>
                                    <h6 id="InverteroutputcurrentL1">-</h6>
                                    <h6>
                                        <span>&nbsp;A</span>
                                    </h6>
                                </div>
                                <div class="numero">
                                    <h6>Frequency:&nbsp;</h6>
                                    <h6 id="Loadfrequency">-</h6>
                                    <h6>
                                        <span>&nbsp;Hz</span>
                                    </h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="content-menu">
                        <ul class="menu">
                            <li>
                                <a href="#slide1">Grid</a>
                            </li>
                            <li>
                                <a href="#slide2">Pv</a>
                            </li>
                            <li>
                                <a href="#slide3">Inverter</a>
                            </li>
                            <li>
                                <a href="#slide4">Battery</a>
                            </li>
                            <li>
                                <a href="#slide5">Smart panel</a>
                            </li>
                            <li>
                                <a href="#slide6">Load</a>
                            </li>
                        </ul>
                        <div class="btn-cerrar" onclick="ocultarModal();">
                            <label for="btn-modal">Cerrar</label>
                        </div>
                    </div>
                </div>

            </div>
            <label for="btn-modal" class="cerrar-modal"></label>
        </div>
    </div>
    <script>
        async function getData() {
            try {
                // const response = await fetch('http://localhost:8000/info');
                const response = await fetch('http://shercan.ga/info');
                const data = await response.json();
                data.forEach((key) => {
                    try {
                        document.getElementById(key.name).innerHTML = key.value;
                    }
                    catch (error) {
                    }
                });
            }
            catch (error) {

            }
        }
        setInterval(getData, 250);
    </script>
    <script src="{{ url_for('static', path='js/scada.js') }}"></script>
    <!-- Recent Sales End -->
    {% include 'select.html' %}
    {% include 'footer.html' %}