<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Chart Register #</h6>
                <canvas id="line-chart"></canvas>
            </div>
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Chart Register #</h6>
                <canvas id="line-chart"></canvas>
            </div>
        </div>
    </div>
</div>